body{
    background-color: black;
    color:  white;
}
img{
    height: 200px;
    width: 300px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
#pageTop{
    background-color: orangered;
    border: 2px solid white;
}
#pageMid{
    background-color: rgb(215, 63, 8);
    border: 2px dotted white;
    margin-top: 10px;
    margin-bottom: 10px;
}
#pageBottom{
    background-color: orangered;
    border: 2px solid;
}